.bg-header {
  background-image: url(https://images.unsplash.com/photo-1463171515643-952cee54d42a?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
  width: auto;
  background-size: cover;
  background-position: center;
}

.bg-main {
  background-image: url(https://images.unsplash.com/photo-1444837881208-4d46d5c1f127?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjExMDk0fQ&auto=format&fit=crop&w=1201&q=80);
  width: auto;
  background-position: center;
  background-size: cover;
} 

.bg-grad {
  background-image: linear-gradient(to right, rgb(75, 100, 100) , rgb(75, 25, 25));
}

/* * {
  outline: 1px solid red;
} */
